<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Tinderbox results index</title>
  </head>
  <body>
    <table>
      <tr>
	<th>hostname</th>
	<th>package name</th>
	<th>date</th>
	<th>matches</th>
      </tr>

      <% items.each do |item| %>
        <tr>
	  <td><%= item[:host] %></td>
	  <td>
	    <a href="https://bugs.gentoo.org/enter_bug.cgi?<%= item[:bug_template].to_query %>">[B]</a>
	    <a href="<%= item[:public_url] %>"><%= item[:pkg] %></a>
	  </td>
	  <td><%= item[:date] %></td>
	  <td>
	    <%= item[:matches] %>
	    <% if item[:test_failed] %>[TF]<% end %>
	    <% if item[:pkg_failed] %>[BF]<% end %>
	  </td>
	</tr>
      <% end %>
    </table>
  </body>
</html>
